body {
  font-family: "Hiragino Kaku Gothic Pro", Verdana, Arial, Helvetica, sans-serif;
}

p.resizeimage {
  max-width: 640px;
}

p.resizeimage img {
  width: 80%;
}

pre {
  margin: 1em 0;
  padding: 1em;
  border-radius: 5px;
  background: #2f2f2f;
  color: #fff;
  white-space: pre-wrap;
}

.box {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #045FB4;
  background: #FFF;
  border: solid 3px #045FB4;
  border-radius: 10px;
}

.box p {
  margin: 0; 
  padding: 0;
}

.headline {
  font-size: 150%;
  font-weight: bold;
  color: #045FB4;
  padding: 10px 0;
  border-bottom: solid 5px #045FB4;
}

.elements {
  margin: 10px 0 0;
}

.elements dl{
  width: 100%;
  overflow: hidden;
  border: 1px solid #ccc;
  border-top: none;
  background: #045FB4;
}

.elements dt{
  width: 30%;
  float: left;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  border-top: 1px solid #ccc;
  box-sizing: border-box;
}

.elements dd{
  margin-left: 30%;
  padding: 10px;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  background: #fff;
}

.elements dd:after{
  display: block;
  content: "";
  clear: both;
}

table{
  width: 90%;
  border-collapse: collapse;
  border-spacing: 0;
}

table th,table td{
  padding: 10px 0;
  text-align: center;
}

table tr:nth-child(odd){
  background-color: #f0f0f0
}

ul.listnav {
	margin: 0 0 10px;
	padding: 12px;
	text-align: center;
}

ul.listnav li {
	display: inline;
	margin: 0 1px;
	padding: 0;
}

ul.listnav li span,
ul.listnav li a {
	display: inline-block;
	padding: 1px 8px;
	background: #fff;
	border: 1px solid #ccc;
	vertical-align: middle;
	text-decoration: none;
}

ul.listnav li a:hover {
	background: #efefef;
}

@media screen and (max-width: 320px) {
  .elements dt{
    width: 100%;
    float: none;
    color: #fff;
    font-weight: bold;
  }
  .elements dd{
    margin-left: auto;
    border-left: none;
  }
}
