body {
  font-family: "Hiragino Kaku Gothic Pro", Verdana, Arial, Helvetica, sans-serif;
}

p.resizeimage {
  max-width: 640px;
}

p.resizeimage img {
  width: 80%;
}

.box {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #045FB4;
  background: #FFF;
  border: solid 3px #045FB4;
  border-radius: 10px;
}

.box p {
  margin: 0; 
  padding: 0;
}

.headline {
  font-size: 150%;
  font-weight: bold;
  color: #045FB4;
  padding: 10px 0;
  border-bottom: solid 5px #045FB4;
}

.elements {
  margin: 10px 0 0;
}

.elements dl{
  width: 100%;
  overflow: hidden;
  border: 1px solid #ccc;
  border-top: none;
  background: #045FB4;
}

.elements dt{
  width: 30%;
  float: left;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  border-top: 1px solid #ccc;
  box-sizing: border-box;
}

.elements dd{
  margin-left: 30%;
  padding: 10px;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  background: #fff;
}

.elements dd:after{
  display: block;
  content: "";
  clear: both;
}

@media screen and (max-width: 320px) {
  .elements dt{
    width: 100%;
    float: none;
    color: #fff;
    font-weight: bold;
  }
  .elements dd{
    margin-left: auto;
    border-left: none;
  }
}
