<!doctype html>
<html>
<head>
<title{{ title }}></title>
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<style type="text/css">
<!--
dl {font-family: "Hiragino Kaku Gothic Pro", Verdana, Arial, Helvetica, "ヒラギノ角ゴ Pro W3", "Osaka", "ＭＳ Ｐゴシック", sans-serif;}
h3 {font-family: "Hiragino Kaku Gothic Pro", Verdana, Arial, Helvetica, "ヒラギノ角ゴ Pro W3", "Osaka", "ＭＳ Ｐゴシック", sans-serif;}
-->
</style>
</head>
<body>
{% block content %}
<!-- here you go -->
{% endblock %}
</body>
</html>
