{% import 'macro.html' as macros %}
{% extends 'layout.html' %}
{% block content %}
<p class="animated flipInY delay-1s" style="color: Green;" align="center">
<i class="fas fa-check-circle fa-7x"></i><br/>
GOOD
</p>
<div class="animated flipInY delay-1s">
<p class="box">
<b>Certificate is Verified!</b><br/>
The existence and the content of the following certificate is verified by
matching the calculated Merkle root with the one stored in the Ethereum
smart contract below.
</p>
</div>

{{ macros.show_certificate(root, get_date_string=get_date_string) }}

{{ macros.show_verifier(network, contract, block_no=block_no, realtime=realtime, merkle_root=merkle_root) }}

{% endblock %}
