{% import 'cert/macro.html' as macros %}
{% extends 'cert/layout.html' %}
{% block content %}
<h1>CERT : Certificate Builder</h1>
<form action="/cert/build" method="post">
  <div>
    <textarea id="json" name="json" cols="80" rows="20"></textarea>
  </div>
  <button type="submit" name="register">Register Document</button>
  <button type="submit" name="proof">Get Certificate</button>
  <button type="submit" name="verify">Verify Certificate</button>
  <input type="file" id="jsonfile">
  <br/>
  <button type="submit" name="digest">Get Digest</button>
  <button type="submit" name="keypair">Generate Key Pair</button>
  <button type="submit" name="sign">Sign Document</button>
</form>
{% endblock %}
