<!doctype html>
<html>
<head>
<title{{ title }}></title>
<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
<link rel="stylesheet" href="/payment/static/css/style.css"/>
</head>
<body style="visibility:hidden" onLoad="document.body.style.visibility='visible'">
<h1>
<a href="/payment/">PAYMENT</a>
</h1>
{% block content %}
<!-- here you go -->
{% endblock %}
<footer>
<hr>
<p>
This service is based on
<a href="https://github.com/beyond-blockchain/examples/tree/master/payment-web">payment-web</a>,
an open source sample program for BBc-1 (Beyond Blockchain One).
</p>
<p class="resizeimage" align="center">
<img src="https://beyond-blockchain.org/public/beyond-blockchain-org-logo.png" alt="BBc logo"><br/>
Bringing the possibilities of blockchains into reality.
</p>
</footer>
</body>
</html>
