{% import 'cert/macro.html' as macros %}
{% extends 'cert/layout.html' %}
{% block content %}
<p class="animated shake delay-1s" style="color: Red;" align="center">
<i class="fas fa-times-circle fa-7x"></i><br/>
NO GOOD
</p>
<div class="animated shake delay-1s">
<p class="box">
<b>Failed to Verify the Certificate!</b><br/>
{% if reason == 'no-query' %}
No query string is present, or the specified query string is incomplete.
{% elif reason == 'xml-syntax' %}
The specified certificate is not correctly formatted in XML.
{% elif reason == 'subtree-syntax' %}
The specified Merkle subtree is not encoded properly.
{% elif reason == 'digest-mismatch' %}
The calculated Merkle root does not match with the stored value.
{% elif reason == 'no-pubkey' %}
Public key is not found in the signed document.
{% elif reason == 'bad-sig' %}
Signature is not verified for the signed document.
{% elif reason == 'sig-algo' %}
Specified digital signature algorithm is not supported.
{% endif %}
</p>
</div>
{% if root != '' %}
{{ macros.show_certificate(root, get_date_string=get_date_string) }}
{% endif %}

{% if 'sig' in root.attrib %}
{{ macros.show_signature(root) }}
{% endif %}

{{ macros.show_verifier(network, contract) }}

{% endblock %}
